extends jade/base.jade
block contenido
	header.cabecera
		.titulo
			h2 Hospital General
		.redes
			.facebook
				img(src="img/facebook.jpg")
			.twitter
				img(src="img/facebook.jpg")
			.youtube
				img(src="img/facebook.jpg")
	section.logomenu
		.logo
			img(src="img/facebook.jpg")
		.menu
			ul
				li INICIO
				li HOSPITAL
				li TRANSPARENCIA
			
