!!! 5
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		block titulo
			title Luis Gago Casas
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href="https://fontastic.s3.amazonaws.com/QnxK5FiuSUNtYRBmE6yKxL/icons.css", rel="stylesheet")
		link(href="css/index.css", rel="stylesheet")
	body
		.wrapper
			block contenido
	script(src="js/index.js")
