extends jade/base.jade
block titulo
	title Esmeralda
block contenido
	header.cabecera
		.contenedor_cabecera
			.logo
				img(src="img/minera_esperanza.png")
			.buscador
				form(action="")
					input(type="text")
		.menu_cabecera
			nav.menu
				ul
					li
						a(href="") Inicio
					li
						a(href="") Empresa
					li
						a(href="") Servicios
					li
						a(href="") Cursos
					li
						a(href="") Contacto
		section.cuerpo
			.articulo
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus excepturi quod maxime expedita natus voluptate sunt error tenetur reiciendis dicta minima, sapiente voluptatibus dolores laborum ex ipsum amet velit, odio quidem harum repellat aut consectetur. Dolore necessitatibus nisi exercitationem aut illo, ea! Natus vitae quidem unde ut tempora molestiae pariatur.
			.columna
				img(src="img/minero.jpg")
		footer.pie_pagina
			.columna_footer
				p  Lorem ipsum dolor sit amet.
			.columna_footer
				p  Lorem ipsum dolor sit amet.
			.columna_footer
				p  Lorem ipsum dolor sit amet.
